<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{title}} | Derek Haworth </title>
<meta name="keywords" content="derek haworth, web development, front-end, full stack, javascript, node, express, react, mern, development">
<meta name="description" content="A Chicago-based full stack developer specializing in solutioning complex business problems">
<meta name="author" content="Derek Haworth, derekhaw1@gmail.com">
<meta name="copyright" content="Derek Haworth">
<meta name="url" content="http://www.derekhaworth.com">

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="src/css/main.min.css">

<body>
    <!--Created by
   ______   __     __
  |   __  \|  |   |  |
  |  |  |  |  |___|  |
  |  |  |  |   ___   | 
  |  |__/  |  |   |  |
  |_______/|__|   |__|

  *** Whoa! Inspecting my element? At least buy me dinner first ***

  *** How can I help you today? Email me: derekhaw1@gmail.com ***

-->
    <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
    <div class="container">
        <div id="preloader">
            <div class="spinner"><div class="spinner-inner"></div></div>
        </div>
    </div>

    <header>
        <!-- nav -->
        <nav class="navbar navbar-fixed-top mb0">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1 class="mzero logo-name"><a class="navbar-brand" href="/">Derek Haworth</a></h1>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="{{#if active_projects}}active{{/if}}" href="/projects">projects</a></li>
                        <li><a class="{{#if active_about}}active{{/if}}" href="/about">about</a></li>
                        <li><a href="https://www.linkedin.com/in/derekhaw1/" target="_blank">linkedin</a></li>
                        <li><a href="https://github.com/derek-haworth" target="_blank">github</a></li>
                        <li><a class="{{#if active_contact}}active{{/if}}" href="/contact">contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="buffer"></div>

    <div class="container-fluid">
        <div class="row">