<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Derek Haworth | Development Portfolio</title>
<meta name="keywords" content="derek haworth, web design, web development, front-end, full stack, javascript, node, development">
<meta name="description" content="I am a Chicago-based front-end developer, who specializes in helping you.">
<meta name="author" content="Derek Haworth, derekhaw1@gmail.com">
<meta name="copyright" content="Derek Haworth">
<meta name="url" content="http://www.derekhaworth.com">

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<style>
body {
    background: url("181H.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

a {
    color: #e5e5a7;
}

p {
    font-size: 16px;
}

h1 {
    font-family: Open Sans Condensed;
    text-transform: uppercase;
    font-size: 8em;
    font-weight: 100;
    text-align: center;
    color: #fff;
}

#prelaoder {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(10, 10, 10, 1);
    z-index: 1000
}

.spinner {
    text-align: center;
    font-size: 10px
}

.spinner, .spinner-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: 9px solid #fff;
    border-color: transparent #fff;
    margin: auto
}

.spinner {
    width: 85px;
    height: 85px;
    -webkit-animation: spin 2.2s linear 0s infinite normal;
    -moz-animation: spin 2.2s linear 0s infinite normal;
    animation: spin 2.2s linear 0s infinite normal
}

.spinner-inner {
    width: 40px;
    height: 40px;
    -webkit-animation: spinback 1.2s linear 0s infinite normal;
    -moz-animation: spinback 1.2s linear 0s infinite normal;
    animation: spinback 1.2s linear 0s infinite normal
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0)
    }
    to {
        -moz-transform: rotate(360deg)
    }
}

@keyframes spin {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes spinback {
    from {
        -webkit-transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(-360deg)
    }
}

@-moz-keyframes spinback {
    from {
        -moz-transform: rotate(0)
    }
    to {
        -moz-transform: rotate(-360deg)
    }
}

@keyframes spinback {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(-360deg)
    }
}

.snippet {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 50%;
    margin: 20px auto;
}

@media (max-width: 640px) {
    h1 {
        font-size: 4em;
    }
    .snippet {
        width: 100%;
    }
}
</style>

<body>
    <!--Created by
   ______   __     __
  |   __  \|  |   |  |
  |  |  |  |  |___|  |
  |  |  |  |   ___   | 
  |  |__/  |  |   |  |
  |_______/|__|   |__|

  *** How can I help? ***

-->
    <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->