	<div class="section-heading">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>about</h2>
                    <p class="article-h2-content">Hi. I'm Derek</p>
                </div>
            </div>
        </div>
	</div>

    <div class="container">
        <div class="entry-content">
            <div class="row">
			    <div class="col-md-7 col-md-offset-3">
                    <p><img src="" class="me center"></p>

                    <p>Hey there, I’m Derek in case you haven't figured that out yet. I’m a full stack developer in the Chicago area. These days I'm building front-end UIs and custom interal integration tools.</p>
                </div>
            </div>
        </div>
	</div>

