
	<!-- Projects Section -->
	<div class="section-heading">
		<div class="container">
		    <div class="row">
			    <div class="col-sm-8">
			        <h2>projects</h2>
			        <p class="article-h2-content">A collection of professional and personal things I'm proud of.</p>
			    </div>
		    </div>
		</div>
	</div>

	<!-- projects gallery -->
	<div class="container mtxl">
		<div class="row">
		    <div class="gallery">
		    	{{#each projects}}
		    		{{> project-cards}}
		    	{{/each}}
		    </div>
		</div>
	</div>



