<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="contact">
			    <h2><a href="mailto:derekhaw1@gmail.com?Subject=You%20Rock,%20Rock" target="_top">derekhaw1@gmail.com</a></h2>
			    <p>Just click my email and it should open up your default client and begin your message. I can't wait to read it.</p>
			</div>
		</div>
	</div>
</div>