<!-- jumbotron -->
	<div class="jumbotron bg-none">
		<div class="container">
		    <div class="row">
				<div class="col-md-12">
					<h1 class="uppercase mbm">Finding a Developer<span class="block mtm">Just Got Easier</span></h1>
					<p>// it's me. tehe</p>
					<a href="/projects" class="main-cta inline-block text-center">Projects</a>
				</div>
			</div>
		</div>
	</div>