<!-- jumbotron -->
	<div class="jumbotron bg-none">
		<div class="container">
		    <div class="row">
				<h1 class="uppercase mbm">Finding a Developer<span class="block mtm">Just Got Easier</span></h1>
				<p>// it's me. tehe</p>
			</div>
		</div>
	</div>