	<!-- jumbotron -->
	<div class="jumbotron bg-none">
		<div class="container">
		    <div class="row">
				<h1 class="uppercase">Finding a Developer<span class="block mtm">Just Got Easier</span></h1>
				<p class="">// it's me. tehe</p>
			</div>
		</div>
	</div>

	<!-- Projects Section -->
	<div class="section-heading">
		<div class="container">
		    <div class="row">
			    <div class="col-sm-6">
			        <h2>projects</h2>
			        <p class="article-h2-content">Some things I'm proud of. No big deal.</p>
			    </div>
		    </div>
		</div>
	</div>

	<!-- projects gallery -->
	<div class="gallery container">
		<div class="row">
		    <ul class="gallery-ul clearfix">
		    	{{#each projects}}
		    		<li>
			           	<figure>
							<img src="https://www.what-dog.net/Images/faces2/scroll0015.jpg" alt="{{this.title}}">
							<figcaption>
								<h3 class="pzero mzero">{{this.title}}</h3>
								<span>{{this.data}}</span>
								<a href="{{this.demo}}" target="_blank">Take a look</a>
							</figcaption>
						</figure>
			       	</li>
		    	{{/each}}
		    </ul>
		</div>
	</div>

	<!-- Design & Development Section -->
	<div class="section-heading">
		<div class="container">
		    <div class="row">
		        <div class="col-sm-6">
		            <h2>design &amp; development</h2>
		            <p class="article-h2-content">Freelance design &amp; development projects and some personal ones</p>
		        </div>
		    </div>
		</div>
	</div>
