<!-- projects gallery -->
	<div class="gallery container">
		<div class="row">
		    <ul class="gallery-ul clearfix">
		    	<li>
			        <figure>
						<img src="https://www.what-dog.net/Images/faces2/scroll0015.jpg" alt="{{title}}">
						<figcaption>
							<h3 class="pzero mzero">{{title}}</h3>
							<span>{{data}}</span>
							<a href="{{demo}}" target="_blank">Take a look</a>
						</figcaption>
					</figure>
			    </li>
		    </ul>
		</div>
	</div>